<div class="container">
    <h1 i18n>Statistics' page</h1>
    <p i18n>This page displays statistics on the number of characters registered on the site.</p>
</div>
    <mat-accordion >
        <mat-expansion-panel (afterExpand)="getByElement()">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>
                    Number of characters by element
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let stat of byElement">
                    <span>{{stat._id}}: {{stat.count}}</span>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel (afterExpand)="getByWeapon()">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>
                    Number of characters by weapon type
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let stat of byWeapon">
                    <span>{{stat._id}}: {{stat.count}}</span>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
        <mat-expansion-panel (afterExpand)="getByRarity()">
            <mat-expansion-panel-header>
                <mat-panel-title i18n>
                    Number of characters by rarity
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let stat of byRarity">
                    <span>{{stat._id}}: {{stat.count}}</span>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
