<div class="container">
    <h1>Page des personnages</h1>
    <p>Cette page affiche la liste des personnages du jeu Genshin Impact enregistrés sur le site.</p>

    <p>Vous pouvez filtrer la liste en sélectionnant des attributs:</p>
    <h4>Élément :</h4>
    <mat-button-toggle-group name="element" aria-label="Element">
        <mat-button-toggle *ngFor="let element of elements" value="{{element}}" #elementBtn
            (change)="onElementFilterChange(elementBtn.value)">{{element}}</mat-button-toggle>
    </mat-button-toggle-group>

    <h4>Type d'arme :</h4>
    <mat-button-toggle-group name="weapon" aria-label="Weapon">
        <mat-button-toggle *ngFor="let weapon of weapons" value="{{weapon}}" #weaponBtn
            (change)="onWeaponFilterChange(weaponBtn.value)">{{weapon}}</mat-button-toggle>
    </mat-button-toggle-group>

    <h4>Rareté :</h4>
    <mat-button-toggle-group name="rarity" aria-label="Rarity">
        <mat-button-toggle *ngFor="let rarity of rarities" value="{{rarity}}" #rarityBtn
            (change)="onRarityFilterChange(rarityBtn.value)">{{rarity}}</mat-button-toggle>
    </mat-button-toggle-group>

    <p>Vous pouvez également ajouter un personnage en cliquant sur le bouton ci-dessous:</p>
    <button mat-raised-button color="primary" routerLink="/personnages/add">Ajouter un personnage</button>
</div>

<div class="accordion-list">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let character of characters">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>person</mat-icon>
                    <span>{{character.name}} - {{character.title}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button color="primary" routerLink="/personnages/edit/{{character._id}}">
                <mat-icon>edit</mat-icon>
                edit
            </button>
            <button mat-button color="warn" (click)="deleteCharacter(character)">
                <mat-icon>delete</mat-icon>
                delete
            </button>
            <h2>Informations</h2>
            <p>{{character.description}}</p>
            <mat-list>
                <mat-list-item>Type d'arme: {{character.weapon_type}}</mat-list-item>
                <mat-list-item>Élément: {{character.element}}</mat-list-item>
                <mat-list-item>Affiliation: {{character.affiliation}}</mat-list-item>
                <mat-list-item>Région: {{character.region}}</mat-list-item>
                <mat-list-item>Rareté: {{character.rarity}}</mat-list-item>
                <mat-list-item>Anniversaire: {{formatBirthday(character.birthday)}}</mat-list-item>
                <mat-list-item>Constellation: {{character.constellation}}</mat-list-item>
            </mat-list>
            <ng-container *ngIf="character.constellations && character.constellations.length > 0">
                <br><mat-divider></mat-divider>
                <mat-list>
                    <br>
                    <h2>Constellations</h2>
                    <mat-list-item *ngFor="let constellation of character.constellations">
                        <span>{{constellation.level}}) {{constellation.name}}</span><br>
                    </mat-list-item>
                </mat-list>
            </ng-container>
            <ng-container *ngIf="character.skills && character.skills.length > 0">
                <br><mat-divider></mat-divider>
                <br>
                <h2>Compétences</h2>
                <h3>actives</h3>
                <mat-expansion-panel *ngFor="let skill of character.skills">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span>{{skill.name}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list *ngFor="let attribute of skill.attributes">
                        <mat-list-item>
                            <span>{{attribute.label}}: {{attribute.value}}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
                <br>
                <h3>passives</h3>
                <mat-list>
                    <mat-list-item *ngFor="let passive of character.passives">
                        <span> - {{passive}}</span>
                    </mat-list-item>
                </mat-list>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>