<form #characterForm="ngForm" id="characterform" (ngSubmit)="addCharacter(characterForm)">
    <h1 i18n>Add a character</h1>
    <mat-form-field>
        <input matInput placeholder="Nom" name="name" [(ngModel)]="newCharacter.name" required>
        <mat-error i18n>Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Titre" name="title" [(ngModel)]="newCharacter.title" required>
        <mat-error i18n>Title is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" name="description" [(ngModel)]="newCharacter.description" required>
        <mat-error i18n>Description is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Type d'arme" name="weapon_type" [(ngModel)]="newCharacter.weapon_type" required>
            <mat-option *ngFor="let weapon of weapons" [value]="weapon">{{weapon}}</mat-option>
        </mat-select>
        <mat-error i18n>Weapon type is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Element" name="element" [(ngModel)]="newCharacter.element" required>
            <mat-option *ngFor="let element of elements" [value]="element">{{element}}</mat-option>
        </mat-select>
        <mat-error i18n>Element is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Affiliation" name="affiliation" [(ngModel)]="newCharacter.affiliation" required>
        <mat-error i18n>Affiliation is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Région" name="region" [(ngModel)]="newCharacter.region" required>
        <mat-error i18n>Region is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Rareté" name="rarity" [(ngModel)]="newCharacter.rarity" required>
            <mat-option *ngFor="let rarity of rarities" [value]="rarity">{{rarity}}</mat-option>
        </mat-select>
        <mat-error i18n>Rarity is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Anniversaire (AAAA-MM-JJ)" name="birthday" [(ngModel)]="newCharacter.birthday" pattern="^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$" required>
        <mat-hint i18n >Format: YYYY-MM-DD</mat-hint>
        <mat-error *ngIf="characterForm.controls['birthday'] && characterForm.controls['birthday'].hasError('pattern')" i18n>Invalid format</mat-error>
        <mat-error *ngIf="characterForm.controls['birthday'] && characterForm.controls['birthday'].hasError('required')" i18n>Birthday is required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Constellation" name="constellation" [(ngModel)]="newCharacter.constellation" required>
        <mat-error i18n>Constellation is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!characterForm.form.valid" i18n>Add</button>
</form>
